html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: "Segoe UI"; }

.wrap { width: 980px; margin: 0 auto; *zoom: 1; }
.wrap:after { content: " "; display: table; clear: both; }

.h3 { color: #1e1e1e; text-decoration: none; font-weight: bold; font-size: 22px; line-height: 24px; }

.h4 { text-align: center; font-weight: normal; font-size: 24px; line-height: 24px; color: #303030; }

.strip { height: 2px; width: 105px; background: #17cc93; }

.descr { color: #7b7c7e; padding: 0 100px; text-align: center; font-size: 16px; line-height: 19px; }

/*-----header---------------------------------------- */
.header { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; background: white; position: absolute; width: 100%; font-family: arial; padding: 19px 0px 16px; }

.header__left { float: left; }

.header__right { float: right; }
.header__right .h3 { font-size: 24px; line-height: 26px; }

.logo { text-decoration: none; }
.logo .h3 { display: inline-block; vertical-align: middle; }

.nav { margin-left: 270px; *zoom: 1; }
.nav:after { content: " "; display: table; clear: both; }
.nav li { float: left; margin-right: 37px; }
.nav a { text-decoration: none; color: #1e1e1e; font-family: "myriad pro"; vertical-align: bottom; line-height: 6px; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.nav a:hover { color: #17cc93; }

/*-----main------------------------------------------------ */
.main { height: 593px; background: url(../img/main.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; color: white; }
.main .strip { margin-bottom: 11px; }

.main-in { padding-top: 109px; }

.main__headline { font-size: 52px; line-height: 63px; font-weight: bold; margin-bottom: 50px; }

.main__descr { font-size: 22px; line-height: 27px; margin-bottom: 42px; }

.main__price { margin-bottom: 19px; }

.main__price-number { font-weight: bold; font-size: 54px; line-height: 54px; margin-right: 6px; }

.main__price-val { vertical-align: 2px; }

/*-----block--------------------------------------------- */
.block { padding: 36px 0 59px; background: white; }
.block .strip { margin: 0 auto 9px; }
.block .h4 { margin-bottom: 25px; }
.block .descr { margin-bottom: 47px; }
.block .benefits { margin-top: 70px; }

.block-dark { background: #edeff4; }

.block_benefits { padding-bottom: 43px; }

/*-----price----------------------------------------------- */
.price { color: #191919; *zoom: 1; }
.price:after { content: " "; display: table; clear: both; }
.price li { float: left; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; overflow: hidden; background: white; padding-bottom: 19px; margin-right: 25px; }
.price .last { margin-right: 0; }
.price .btn { margin: 0 auto; display: block; width: 135px; font-size: 14px; line-height: 14px; height: 37px; font-weight: bold; }

.price__img { width: 310px; height: 260px; overflow: hidden; margin-bottom: 19px; }
.price__img img { height: 100%; }

.price__size, .price__spase, .price__weight { margin: 0 20px; }

.price__size { font-size: 32px; line-height: 32px; margin-bottom: 34px; }

.price__spase { border-bottom: 1px solid #efeff0; padding-bottom: 14px; margin-bottom: 15px; *zoom: 1; }
.price__spase:after { content: " "; display: table; clear: both; }
.price__spase .price__cost { color: #0099d3; }

.price__weight { *zoom: 1; margin-bottom: 37px; }
.price__weight:after { content: " "; display: table; clear: both; }
.price__weight .price__cost { color: #191919; }

.price__unit { float: left; color: #717171; font-size: 17px; line-height: 25px; }

.price__cost { float: right; font-weight: bold; font-size: 20px; line-height: 20px; }

/*-----benefits-------------------------------------------- */
.benefits { *zoom: 1; color: #151515; }
.benefits:after { content: " "; display: table; clear: both; }
.benefits li { width: 310px; float: left; overflow: hidden; background: white; padding-bottom: 19px; margin-right: 25px; text-align: center; }
.benefits .last { margin-right: 0; }
.benefits .ico { margin-bottom: 22px; }

.benefits__title { font-weight: bold; margin-bottom: 10px; }

.benefits__descr { font-size: 14px; line-height: 18px; }

/*-----demo------------------------------------------------ */
.demo { height: 448px; background: url(../img/demo.png) no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; text-align: center; padding: 75px 0 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.demo .btn { width: 235px; height: 47px; font-size: 22px; line-height: 24px; }

.demo__descr { color: white; font-size: 40px; line-height: 48px; margin-bottom: 56px; }

/*-----footer---------------------------------------------- */
.footer { height: 2000px; background: #333333; }

/*-----ico------------------------------------------------- */
.ico { display: inline-block; vertical-align: middle; }

.i-logo { background: url('../img/icons-s449fea0c9e.png') 0 -300px no-repeat; width: 24px; height: 25px; margin-right: 3px; }

.i-strong { background: url('../img/icons-s449fea0c9e.png') 0 0 no-repeat; width: 80px; height: 80px; }

.i-protect { background: url('../img/icons-s449fea0c9e.png') 0 -180px no-repeat; width: 80px; height: 80px; }

.i-tech { background: url('../img/icons-s449fea0c9e.png') 0 -90px no-repeat; width: 80px; height: 80px; }

/*-----btn------------------------------------------------- */
.btn { background: #17cc93; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; width: 265px; height: 45px; text-align: center; color: white; font-size: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: 0.2s; -moz-transition: 0.2s; -o-transition: 0.2s; transition: 0.2s; }
.btn:hover { background: #17fcc3; }
.btn:active { background: #67ffe3; -webkit-transform: scale(0.97); -moz-transform: scale(0.97); -ms-transform: scale(0.97); -o-transform: scale(0.97); transform: scale(0.97); }
